.decoration {
    /* ここにCSSを書いていきます */
 font-size: 48px;
 color: rgb(255, 0, 0);
 font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
 font-style: italic;
 letter-spacing: 1.5em;
 text-decoration: underline;
 text-decoration: line-through;
 border-top: solid 3px red;
 border-bottom: dotted 3px blue;
 text-shadow: 1px 1px 2px gray;
 text-align: center;
  }

.text-bold {
   font-weight: bold;
 
 }